@import url('https://fonts.googleapis.com/css2?family=Varela:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
* 
{
	margin: 0;
	padding: 0;
	font-family: 'Varela', sans-serif;

}

body
{
    background: #e8eaec !important;
}
.main-div{
    background: #e8eaec;
    margin: 0 auto;
    border: 8px solid #000000;
    min-width: 310px;
    max-width: 310px;
    border-radius: 44px;
}
.input-shadow{
    
    color: #0b254e;
    background: #e8eaec;
    box-shadow: 4px 4px black;
    border: 3px solid black;
    
}
.btn-border-shadow {
    border: 2px solid black !important;
    box-shadow: 3px 3px black !important;
    background-color: white;
}